/* start variables */
:root {
  --main-color: #DC143C;
  --second-color: #007FFF;
  --bg-color: #000000;
  --main-transition: all 0.3s ease-in-out;
}

/* end variables */

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  margin-top:10rem;
  
}

.alert{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;  
}
.alert-denger{
  width: 60%;
}